#cursor {
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px #001423;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.35s ease width, 0.35s ease height, 0.35s ease border, 0.35s ease background;
    transform: translate(-50%, -50%);
}

#cursor.button {
    width: 3rem;
    height: 3rem;
    border: solid 1px transparent;
    background: rgba(0, 0, 0, 0.2);
}

@media (pointer:none),
(pointer:coarse) {
    #cursor {
        display: none;
    }
}